@model IEnumerable<GetVillaDTO>

@{
    ViewData["Title"] = "Index";
}

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-info bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Villa List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Villa" asp-action="Create" class="btn btn-primary">Create New Villa</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sqft)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Occupancy)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sqft)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Occupancy)
                        </td>
                        <td>
                            <a asp-controller="Villa" asp-action="Update" asp-route-villaId="@item.Id" class="btn btn-outline-warning" style="width:100px;">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Villa" asp-action="Delete" asp-route-villaId="@item.Id" class="btn btn-outline-danger" style="width:100px;">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


